.w {
    width: 1200px;
    margin: 0 auto;
}
.header {
    height: 84px;
    border-bottom: 2px solid #b1191a;
}
.header a {
    display: block;
    padding: 17px 0 0 4px;
}
.registerarea {
    height: 524px;
    margin-top: 21px;
    border: 1px solid #dfdfdf;
}
.registerarea h3 {
    height: 41px;
    padding: 0 10px;
    background-color: #ececec;
    border-bottom: 1px solid #dfdfdf;
    font-size: 18px;
    font-weight: 400;
    line-height: 41px;
}
.registerarea h3 .login {
    float: right;
    font-size: 14px;
    font-weight: 400;
}
.login a {
    color: #c81623;
}
.reg_form {
    width: 630px;
    margin: 55px auto 0;
    /* background-color: pink; */
}
.error {
    margin-left: 9px;
    color: #c81623;
    line-height: 37px;
}
.error_icon {
    /*转化为行内块元素*/
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../images/error_icon.png) no-repeat;
    vertical-align: middle;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li:nth-child(3) {
    margin-bottom: 0;
}
.reg_form ul li label {
    display: inline-block;
    width: 85px;
    margin-left: 44px;
    font-size: 14px;
    text-align: right;
}
.reg_form ul li .inp {
    width: 243px;
    height: 37px;
    border: 1px solid #999999;
}
.safe {
    padding-left: 206px;
}
.safe em {
    padding: 0 12px;
    margin-left: 2px;
    color: #fff;
}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}
.qiang {
    background-color: #f79100;
}
.agree {
    padding-left: 130px;
}
.agree a {
    color: #1ba1e6;
}
.btn {
    height: 35px;
    margin-left: 140px;
    padding: 0 70px;
    color: #fff;
    background-color: #c81623;
}
.mod_copyright {
    padding-top: 20px;
}
.links a {
    padding: 0 13px;
}
.mod_copyright .links {
    padding-left: 100px;
}
.copyright {
    width: 970px;
    padding: 15px 0 0 240px;
    text-align: center;
}

